@import '../../styles/global.scss';

.chapter-details-fluid{
    margin-top:10vh;
    .container{
        @extend %container;

        .chapter-title{
            h2{
                text-align: center;
                color:$white;
                font-family:$font-secondary;
                margin-bottom:10vh;
            }
        }

        .chapter-gallery-container{
            width:100%;
            height:100%;
        }
    }
}