@import '../../styles/global.scss';

nav{

    position: fixed;
    z-index:1000;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding:20px 0px;
    .nav-container{
        // margin-top:20px;
        @extend %container;
        @media(max-width:$break-point-s) {
            padding:0 20px;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        .site-name a{
            color:$red;
            font-family: $font-logo;
            font-weight:bold;
            font-size:20px;
            text-decoration:none;
        }
        .logo-container{
            width:60px;
            height:60px;
            img{
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }

        .hamburger-menu{
            height:25px;
            width:30px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            z-index:10000;

            span{
                width:100%;
                height:3px;
                background-color:$red;
                position: absolute;
                
                &:nth-child(1){
                    top:0px;
                    transition: all .5s ease-in-out;
                }

                &:nth-child(2){
                    top:10px;
                    transition: all .5s ease-in-out;
                }

                &:nth-child(3){
                    top:20px;
                    transition: all .5s ease-in-out;
                }
            }

            
        }

        .hamburger-menu.toggle-nav{
            // position: fixed;
            // top:50px;
            // right:50px;
            
            // @media(max-width:$break-point-s) {
            //     top:50px;
            //     right:30px;
            // }
            span{
                background-color: $black;
                &:nth-child(1){
                    top:10px;
                    transform: rotate(135deg);
                    transition: all .5s ease-in-out;
                }

                &:nth-child(2){
                   opacity:0;
                }

                &:nth-child(3){
                    top:10px;
                    transform: rotate(-135deg);
                    transition: all .5s ease-in-out;
                }
            }
        }
    }

    .nav-menu-container{
        background:$red;
        position: fixed;
        top:0;
        right:0;
        width:100%;
        height:100%;
        // transition: all 1s ease-in-out;
        animation: navAnim .5s ease-in-out;
         overflow-y: hidden;
       
        @keyframes navAnim {
            from{
                width:0%;
                opacity: .5
            }
            to{
                width:100%;
                opacity: 1
            }
        }
        .menu-site-name{
            color:$black;
            font-family: $font-logo;
            font-weight:bold;
            font-size:20px;
            position: absolute;
            top:50px;
            left:50px;
            @media(max-width:$break-point-s){
                // top:30px;
                // left:30px;
                display: none;
            }
        }
        .menu-items{
            display:flex;
            justify-content: space-around;
            align-items:center;
            height:100vh;
            padding:0 20%;
            @media(max-width:$break-point-md){
                padding:0 10%;
            }

            @media(max-width:$break-point-s){
                flex-direction: column;
                justify-content: center;
                padding:5% 0%;
            }
            .left-menu-item{
                .menu-link{
                    // border:2px solid $black;
                    border-radius:20px;
                    width:200px;
                    // height:40px;
                    text-align: center;
                    vertical-align: middle;
                    padding:20px 0;
                    margin-bottom:30px;
                    cursor: pointer;
                    box-shadow:  11px 11px 22px #b41e23, 
                                -11px -11px 22px #ff3037;
                    transition: all .5s linear;

                    @media(max-width:$break-point-s){
                        margin-bottom:20px;
                    }
                    
                    &:hover{
                        // background-color: $black;
                        transform: scale(1.05);
                    }

                    a{
                        color:$black;
                        font-size:18px;
                        font-family:$font-secondary;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                       
                    }
                }

                .active-menu-link{
                    transform: scale(1.05);
                }
            }
        }
    }

    .close-nav-menu-container{
        width:0%;
        animation: closeNavAnim .5s ease-in-out;

        @keyframes closeNavAnim {
            from{
                width:100%;
                opacity: 1;
            }
            to{
                width:0%;
                opacity: 0;
            }
        }
    }
}

// .hamburger-menu.toggle-nav span:nth-child(1){
//     top:10px;
//     transform: rotate(135deg);
//     transition: all .5s ease-in-out;
// }

// .hamburger-menu.toggle-nav span:nth-child(2){
//     opacity:0;
// }

// .hamburger-menu.toggle-nav span:nth-child(3){
//     top:10px;
//     transform: rotate(-135deg);
//     transition: all .5s ease-in-out;
// }
